<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kiva Loan Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.minichart/dist/leaflet.minichart.min.js" charset="utf-8"></script>
    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class="jumbotron">
      <div class="container">

        
            <h1 class="text-center text-uppercase text-white" id="heading1">Betterworld With Kiva</h1>  
                <div class="panel panel-default">
                  <div class="panel-body">
                      <img class="img-fluid" src="../static/images/profile1.jpg" alt="" style="width:100%">
                  </div>
                </div>
            <h2>About</h2>
            <p>Kiva is an international nonprofit, founded in 2005 and based in San Francisco, with a mission to connect people through lending, to alleviate poverty. By lending through Kiva , anyone can support people looking to create a better future for themselves, their families and their communities.Total donation goes to public and data is Public</p>
        </div>      
    </div>

    <div class="container-fluid">
    
      <h2 class="text-center text-uppercase text-white">Global Map Showing Kiva Loan Distribution</h2>
      <div id="map"></div>
    </div>
    
    <h2 class="text-center text-uppercase text-white">Gender Analysis</h2>
    <div class="showcase__section" id="bubble">
                <div class="spacer --small"></div>
                <div id="bubbleplots">
                  <div class="bubbleplot" data-num="0">
                    <div class = "plot" id="plot"></div>
                    <div class = "plot" id="sectorplot"></div>
                    <div class="control-row">
                      Country: <select class="countrydata">
                      </select>
                      <!-- <h2 class="text-center text-uppercase text-white">Top Three Borrower</h2> -->
                      <div class="container">
                          
                          <a href="topCountriesByLoanCount" class="btn btn-primary btn-block" role="button" target="_blank">Top Countries by Loan Count</a>
                        
                          
                        </div>
                      

                       
                      

                    </div>
                  </div>
                </div>
              </div>
              <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
              <script src="{{ url_for('static', filename='js/main.js') }}"></script>
              
                         
</body>